<h1>Welcome, {{user.username}} !</h1>
<div>
  <p class="content">Username: {{user.username}}</p>
  <p class="content">User ID: {{user.id}}</p>
</div>
<div>
  <ul>
    {{#each posts}}
      <li class="singlePost"><a href="/posts/{{this.id}}">{{this.title}}<br
          />{{this.author.username}}</a></li>
    {{/each}}
  </ul>
</div>